*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
body{
    background:url(./images/review.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.ii{
    color:white;
    text-align: center;
    text-decoration: underline;
    margin-top: 15px;
}
.p{
    text-align: center;
    color:white;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 
 .btn{
        padding: 6px 20px;
        border: 2px solid white;
        background-color: brown;
        color: white;
        margin: 17px;
        font-size: 1.3rem;
        border-radius: 10px;
        cursor:pointer;
    }
    .btn:hover{
        background-color: grey;
        transition: 0.3s;
    }


